:root {
  --color-background: #fff;
  --color-background-alt: #fff;
  --color-text: #111;
  --color-heading: #333;
  --color-description: #999;
  --color-primary: #096;
  --color-secondary: #eee;
  --color-heart: #f66;

  --text-2xs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2rem; /* 32px */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111;
    --color-background-alt: #222;
    --color-text: #eee;
    --color-heading: #ccc;
    --color-primary: #096;
    --color-secondary: #222;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

img,
svg {
  display: block;
}
